REACT_APP_ION_RPC_URL=https://api.mainnet.ice.io/http/v2/jsonRPC
REACT_APP_ION_RPC_URL_TESTNET=https://api.testnet.ice.io/http/v2/jsonRPC
REACT_APP_ION_API_KEY=
REACT_APP_MANIFEST_URL=https://ion-minter.windbit.dev/tonconnect-manifest.json
